.main {
    width: 800px;
    height: auto;
    background: rgb(252 254 255);
    color: #333;
    border: 1px solid rgb(200, 215, 223);
}

.lane {
    width: auto;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px;
}

.laneItem {
    width: 100%;
    height: auto;
    text-align: right;
    margin: 10px 0;
}

.textarea {
    width: calc(100% - 22px);
    height: 80px;
    padding: 10px;
    border: none;
    resize: none;
}

input:focus, textarea:focus {
    outline: none;
}

.pluginBar {
    width: auto;
    height: 50px;
    background:  rgb(249 253 255);
    border-top: 1px solid rgb(200, 215, 223);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

.pluginBar button {
    border-radius: 20px;
    padding: 0 15px;
    width: auto;
    height: 30px;
    line-height: 30px;
    color: rgb(124 138 150);
    border: 1px solid rgb(200, 215, 223);
    background: transparent;
    cursor: pointer;
    margin: 0 5px;
    transition: all .5s;
}

.pluginBar button:focus{
    outline:0;
}

.pluginBar button:hover{
    color: #6ca6f1;
    border: 1px solid #6ca6f1;
    /* background: #6ca6f1; */
} 

::placeholder{ /* 设置默认 placeholder */
    color: #C7CED7 !important;
}

input {
    color: #545658;
}